<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>GameDB — Головна</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <%- include('../Templates/header'); -%>
    <main>
        <h1>Нові ігри</h1>
        <ul id="game-list" class="game-list"></ul>
    </main>
    <script src="js/main.js"></script>
</body>
</html>

