<header class="header">
    <nav class="header-nav">
        <a class="logo" href="/">GamePedia</a>
        <form class="search" method="get" action="/search">
            <input type="text" name="q" placeholder="Пошук гри...">
            <button type="submit" class="btn">Знайти</button>
        </form>
        <div class="buttons">
            <% if (user) { %>
                <% if (user.isAdmin) { %>
                <a href="/games/add" class="btn btn-add-game">Додати гру</a>
                <% } %>
                <a href="/profile">Мій кабінет</a>
            <% } else { %>
                <a href="/login">Увійти</a>
                <a href="/registration">Зареєструватись</a>
            <% } %>
        </div>
    </nav>
</header>

